#BO services
services:
#EO services
  solace-broker:
    image: solace/solace-pubsub-standard:latest
    container_name: solace-broker
    platform: linux/amd64
    shm_size: 2g
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    ports:
      - "8080:8080"
      - "55554:55555"   # host:container (SMF)
      - "1443:1443"
      - "1883:1883"
      - "5550:5550"
      - "8008:8008"
    environment:
      - username_admin_globalaccesslevel=admin
      - username_admin_password=admin
      - system_scaling_maxconnectioncount=100
    volumes:
      - solace_storage:/var/lib/solace
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d
    restart: unless-stopped

  oracle19c:
    image: container-registry.oracle.com/database/enterprise:19.3.0.0
    container_name: oracle19c
    platform: linux/amd64
    ports:
      - "1521:1521"
      - "5500:5500"
    env_file:
      - .env
    environment:
      - ORACLE_PWD=Oradoc_db1
      - ORACLE_SID=ORCLCDB
      - ORACLE_PDB=ORCLPDB1
      - ORACLE_CHARACTERSET=AL32UTF8
    volumes:
      - ./oracle-init:/opt/oracle/scripts/setup
    restart: unless-stopped

#BO jpa-oracle-source
  jpa-oracle-source:
    image: solace/mi-databases-jpa:2.0.2
    container_name: jpa-oracle-source
    depends_on:
      - oracle19c
      - solace-broker
    env_file:
      - .env
    volumes:
      #- ./jpa-oracle-config:/app/external/spring/config:ro
      #- ./jpa-oracle-config:/config:ro
      - ./config and entity/Emil_PoC/Source_JPA_ora_TEST_IDENTIFICATION:/config:ro
    restart: unless-stopped
#EO jpa-oracle-source

  jpa-postgres-target:
    image: solace/mi-databases-jpa:2.0.2
    container_name: jpa-postgres-target
    depends_on:
      - postgres
      - solace-broker
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "8091:8090"
    volumes:
      #- ./jpa-postgres-config:/app/external/spring/config:ro
      - ./config and entity/Emil_PoC/SINK_JPA_pos_test_identification:/config:ro
      - ./jpa-postgres-config/lib/postgresql-42.7.8.jar:/app/external/jdbc/postgresql-42.7.8.jar:ro

  oracle-writer:
    container_name: oracle-writer
    build: ./oracle-writer
    depends_on: [oracle19c]
    environment:
        - PYTHONUNBUFFERED=1
    env_file:
      - .env

  postgres-reporter:
    container_name: postgres-reporter
    build: ./postgres-reporter
    depends_on: [postgres]
    environment:
        - PYTHONUNBUFFERED=1
    env_file:
      - .env

volumes:
  solace_storage:
