server:
  port: 8080

spring:
  config:
    import-check:
      enabled: false

  cloud:
    function:
      definition: connector

    stream:
      defaultBinder: solace

      binders:
        solace:
          type: solace
          environment:
            solace:
              java:
                host: ${SOLACE_HOST}
                msg-vpn: ${SOLACE_VPN}
                client-username: ${SOLACE_USERNAME}
                client-password: ${SOLACE_PASSWORD}
                connect-retries: -1
                reconnect-retries: -1

        db:
          type: solace-db

      bindings:
        input-0:
          binder: db
          destination: TEST_IDENTIFICATION

        output-0:
          binder: solace
          destination: db/oracle/test_identification

    config:
      import-check:
        enabled: false
    # vault:
    #   enabled: false

solace:
  # java:
  #   host: ${SOLACE_HOST}
  #   msg-vpn: ${SOLACE_VPN}
  #   client-username: ${SOLACE_USERNAME}
  #   client-password: ${SOLACE_PASSWORD}
  connector:
    workflows:
      0:
        enabled: true
        source:
          type: database
          databaseRef: source
          table: TEST_IDENTIFICATION
          polling:
            intervalMs: 1000
        target:
          type: solace
          destinationType: topic
          topic: db/oracle/test_identification

    security:
      enabled: false

    management:
      leader-election:
        mode: standalone
      queue: management-queue-db-jpa
      session:
        host: ${SOLACE_HOST:tcp://solace-broker:55555}
        msgVpn: ${SOLACE_VPN:default}
        clientUsername: ${SOLACE_USERNAME:admin}
        clientPassword: ${SOLACE_PASSWORD:admin}

solace-persistence:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: ${ORACLE_JDBC_URL}
    username: ${ORACLE_USERNAME}
    password: ${ORACLE_PWD}
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5
      connection-timeout: 5000
      initializationFailTimeout: -1

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,loggers,logfile,env,workflows,bindings"
  endpoint:
    logfile:
      external-file: log/connector/runtime.log
  observations:
    enabled: false
  tracing:
    enabled: false
  datadog:
    metrics:
      export:
        enabled: false
  influx:
    metrics:
      export:
        enabled: false
  dynatrace:
    metrics:
      export:
        enabled: false
  otlp:
    metrics:
      export:
        enabled: false
  metrics:
    export:
      influx:
        enabled: false
      dynatrace:
        enabled: false
      otlp:
        enabled: false


debug: true
logging:
  level:
    root: INFO
    com.solace: INFO
    com.solace.connector.core: DEBUG
    org.springframework.cloud.stream: DEBUG
    org.springframework.cloud.stream.binder: DEBUG
    com.solacecoe.spring.cloud.stream.binders: DEBUG
    org.springframework.boot.context.config: TRACE
    org.springframework.core.env: TRACE
