# --------------------------
# SAMPLE CONFIGURATION
# --------------------------

spring:
  config:
    import:
      - application-db-processor.yml
#      - vault://   #comment if vault.enabled: false
  datasource:
    hikari:
      minimum-idle: 1
      maximum-pool-size: 2
      idle-timeout: 500000
      max-lifetime: 540000
      connection-timeout: 5000
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: com.solacecoe.connectors.strategy.OracleSchemaNameStrategy     # set this only when using oracle.
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.SybaseASE157Dialect
  boot:
    admin:
      client:
        instance:
          prefer-ip: true
          management-url: http://localIP:${server.port}/actuator   #should be local IP and server port
          service-url: http://localIP:${server.port}/
          # health-url: http://3.87.125.241:8085/
        enabled: false
        url: http://50.17.36.43:9500/admin
        auto-registration: true
        prefer-ip: true
        username: user
        password: pass
  application:
    name: DataBase(Source)
  cloud:
    vault:
      enabled: false
      uri: http://81.70.183.16:8201
      token: 00000000-0000-0000-0000-000000000000

    # For more info about Spring Cloud Stream and the Solace PubSub+ binder:
    # - https://docs.spring.io/spring-cloud-stream/docs/current/reference/html/spring-cloud-stream.html
    # - https://github.com/SolaceProducts/solace-spring-cloud/tree/master/solace-spring-cloud-starters/solace-spring-cloud-stream-starter
    stream:
      bindings:  # Workflow bindings
        input-0:
          destination: pmacs_lvq     #LVQ queue name
          binder: solace-db
          group: no
          #        sendText-out-0:
        output-0:
          destination: lvq/pmacs #LVQ topic, keep the same as in the connector_config.property
          binder: solace
          content-type: application/x-java-serialized-object
        input-1:
          destination: pmacs_lvq1    #LVQ queue name
          binder: solace-db
          group: no
          #        sendText-out-0:
        output-1:
          destination: lvq/pmacs1 #LVQ topic, keep the same as in the connector_config.property
          binder: solace
          content-type: application/x-java-serialized-object
#      binding-retry-interval: 30  # The interval (in seconds) between retrying binding creation. Set it to zero to treat such conditions as fatal, preventing the application from starting.

solace:
  connector:
    workflows:  # Workflow configuration
      0:
        enabled: true  # If true, the workflow is enabled.
      1:
        enabled: false  # If true, the workflow is enabled.

#        transform-headers:  # Per-Processor headers transform configuration
#          expressions:  # A mapping of header names to header value SpEL expressions. The SpEL context contains the `headers` parameter which can be used to read the input message’s headers.
#            new-header: "'prefix-' + headers.id"  # Example
#        transform-payloads:  # Per-Processor payloads transform configuration
#          expressions:  # A list of a single transformation as a SpEL expression
#            - transform: "#isPayloadBytes(payload) ? new String(payload).toUpperCase() : payload instanceof T(String) ? payload.toUpperCase() : payload"  # Example

    management:
      leader-election:
        mode: standalone  # The connector’s leader election mode. (values: standalone, active_active, active_standby)
        fail-over:
          max-attempts: 3  # The maximum number of attempts to perform a fail-over.
          back-off-initial-interval: 1000  # The initial interval (milliseconds) to back-off when retrying a fail-over.
          back-off-max-interval: 10000  # The maximum interval (milliseconds) to back-off when retrying a fail-over.
          back-off-multiplier: 2.0  # The multiplier to apply to the back-off interval between each retry of a fail-over.
      queue: database-source-management-q  # The management queue name.
      session:  # The management session. This has the same interface as that used by `solace.java.*`. For more info: https://github.com/SolaceProducts/solace-spring-boot/tree/master/solace-spring-boot-starters/solace-java-spring-boot-starter#updating-your-application-properties
        host: tcp://54.198.156.244:55555
        msgVpn: default
        clientUsername: admin
        clientPassword: admin

    security:
      enabled: false  # If true, security is enabled. Otherwise, anyone has access to the connector’s endpoints.
#      csrf-enabled: true  # If true, CSRF protection is enabled. Makes sense only if solace.connector.security.enabled is true.
#      users:  # User configuration
#        - name: <user-name>  # The name of this user.
#          password: <user-password>  # The password for this user.
#          roles:  # The list of roles which this user has. Has read-only access if no roles are given. (values: admin)
#            - <role>

#        - name: user  # Example: Creates a read-only user
#          password: pass
#        - name: admin  # Example: Creates a user with admin role
#          password: admin
#          roles:
#            - admin


  java:  # Solace PubSub+ connection details. For more info: https://github.com/SolaceProducts/solace-spring-boot/tree/master/solace-spring-boot-starters/solace-java-spring-boot-starter#updating-your-application-properties
    host: tcp://host.docker.internal:55554
    #host: tcp://192.168.3.178:55555
    msgVpn: default
    clientUsername: admin
    clientPassword: admin
    connect-retries: -1
    reconnect-retries: -1
    apiProperties:
      pub_ack_window_size: 50
      pub_ack_time: 200
management:
  metrics:  # Metrics monitoring systems. For more info: https://docs.spring.io/spring-boot/docs/current/reference/html/actuator.html#actuator.metrics
    export:
#      defaults:
#        enabled: false
      simple:
        enabled: true
#      <system>:
#        enabled: false
  endpoint:
    health:
      show-components: never
      show-details: never
    logfile:
      external-file: log/connector/runtime.log
  endpoints:
    jmx:
      exposure:
        exclude: "*"
    web:  # Actuator web endpoint configuration. For more info: https://docs.spring.io/spring-boot/docs/current/reference/html/actuator.html#actuator.endpoints. Initial set of metrics is defined as a bare minimum for Connector Manager compatibility. To shrink it simply remove unnecessary ones
      exposure:
        include: "health,metrics,loggers,logfile,channels,env,workflows,leaderelection,bindings"
        exclude: "diskSpace,mappings"

logging:  # Logging configuration. For more info: https://docs.spring.io/spring-boot/docs/current/reference/html/features.html#features.logging
  level:
    root: INFO
    com.solace: INFO # Enables TRACE logs for connector
    com.solace.connector.core: ERROR # Enables TRACE logs for connector framework
    com.solace.spring.cloud.stream.binder: ERROR # Enables TRACE logs for Solace binder
    com.solacesystems.jcsmp: ERROR
    com.solacecoe.spring.cloud.stream.binders.db: INFO
    com.solace.spring: ERROR
    org.springframework: ERROR
    org.springframework.context.support.DefaultLifecycleProcessor: ERROR
    org.hibernate.SQL: TRACE
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.solacecoe.spring.cloud.stream.binders.db.jdbc.DatabaseUtil: TRACE
#  file:
#    name: log/connector/runtime.log  # base log file name. Example: Generates a log file to a file named myapp.log.
#  logback:
#    rollingpolicy:  # Logback file rolling policy
#      file-name-pattern: "${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz"  # Pattern for rolled-over log file names. Example: Rolls the log file into an archive once every day. `%i` is reset to `0` at the start of the day.
#      max-file-size: 100MB  # The maximum size of log file before it is archived. Example: Within a given day, when the log file reaches 100 MB, archive it, and increment `%i`.
#      max-history: 7  # The maximum rotation-period's worth of archive log files to keep. Example: Since the `file-name-pattern` is configured to rollover once every day, keep 7 days worth of log archives.
#      total-size-cap: 1GB  # Total size of log backups for a given rotation period. Example: Keep up-to 1 GB of log archives for every day.

server:
  port: 8392
#logging:
#  level:
#    root: INFO
#    com.solacesystems.jcsmp: INFO
#    com.solace.spring.cloud.stream.binders.db: INFO
#    com.solace.spring: ERROR
#    org.springframework: ERROR
#    org.springframework.context.support.DefaultLifecycleProcessor: ERROR
#    org.hibernate.SQL: ERROR
#    org.hibernate.type.descriptor.sql.BasicBinder: ERROR
#    com.solace.spring.cloud.stream.binders.db.jdbc.DatabaseUtil: ERROR

jasypt:
  encryptor:
    password: test123@!
    algorithm: PBEWithMD5AndDES
    iv-generator-classname: org.jasypt.iv.NoIvGenerator

solace-persistence:
  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://114.241.108.124:33060/testdb
#    url: jdbc:mysql://10.144.23.240:3306/dtstest
#    username: root
#    password: qwerasdf

    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@//host.docker.internal:1521/ORCLPDB1
    username: testuser
    password: Oradoc_db1
#    url: jdbc:oracle:thin:@//50.17.36.43:3113/scm
#    username: CM_SCHEMA
#    password: cm99
#    driver-class-name: net.sourceforge.jtds.jdbc.Driver
#    url: jdbc:jtds:sybase://localhost:5000/master
#    username: sa
#    password: password
#    driver-class-name: com.sybase.jdbc4.jdbc.SybDriver
#    url: jdbc:sybase:Tds:localhost:5000?ServiceName=master
#    username: sa
#    password: password


#### DB2 table name and column name must big case
#    driver-class-name: com.ibm.db2.jcc.DB2Driver
#    url: jdbc:db2://localhost:50000/sample
#    username: db2inst1
#    password: DB2qwerasdf@!

#    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
#    url: jdbc:sqlserver://114.241.106.83:1433;databaseName=test;Encrypt=false
#    username: sa
#    password: MSqwerasdf@!

#### postgresql table name and column name must low case
#    driver-class-name: org.postgresql.Driver
#    url: jdbc:postgresql://localhost:5432/postgres
#    username: postgres
#    password: qwerasdf

#    driver-class-name: com.sap.db.jdbc.Driver
#    url: jdbc:sap://106.51.62.235:39013/?encrypt=true&validateCertificate=false
#    username: solace_dev
#    password: Solace123
#    hikari:
#      minimum-idle: 10
#      maximum-pool-size: 200
#      idle-timeout: 500000
#      max-lifetime: 540000
#      connection-timeout: 5000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 100
        order_updates: true
        order_inserts: true
        generate_statistics: false
#        dialect: org.hibernate.dialect.Oracle10gDialect
        #dialect: org.hibernate.dialect.DB2Dialect
        #dialect: org.hibernate.dialect.SQLServerDialect
#        dialect: org.hibernate.dialect.PostgreSQL10Dialect
#        default_schema: public   #POSTGRESQL specific
        #dialect: org.hibernate.dialect.VerticaDialect
        #dialect: org.hibernate.dialect.MySQLDialect
        #dialect: org.hibernate.dialect.HANARowStoreDialect
    #database: mysql
    database: oracle
    #database: db2
    #database: sqlserver
#    database: POSTGRESQL
  source:
    sendPoolSize: 255
    sendBatchSize: 1       #currently only support 1
    queryMax: 10          #query from table for the records amount one time
    maxDbRetry: 3          #it will do retry to the db
    retryInterval: 10      #interval of db query on error occurred, in second
    retryCount: 3          #retry times to db query on error occurred, in second
    enableBufferedJpaBatch: true # only available when sendBatchSize = 1 if true, connector will write back indicator values in batch mode
    bufferWaitSeconds: 5    #max time to wait for the batch write, in second
    enableTrackingId: true  #if true, will include the tracking id in the message header.
    enableDatabaseTimestamp: true  #if true, will include the reading DB record time in the message header.
    enableConnectorTimestamp: true  #if true, will include the connector sending message time in the message header.
    enableBenchmarkInfo: true       #if true, print the performance statistics.
    skipMismatchError: true  #default false, true to skip mismatch error and send the message again
    triggerInterval: 1000ms #interval of each db query, in millisecond,
    strategy: sequential   #readingIndicator by default,timestamp,sequential
    timestampPolling: 3ms # timestamp difference between records 3ms 3s,3m
    timeWindow: 0 #1ms, 1s, 1m